{% extends 'base.html' %}
{% block title %}Login Form{% endblock %}
{% block body %}
<div class="bg-black min-h-screen flex items-center justify-center p-4">
    <div class="max-w-5xl w-full flex flex-col items-center justify-evenly">
        <div class="w-full text-white text-center md:text-left">
            <h2 class="text-2xl font-bold mb-2">About</h2>
            <p class="text-lg max-w-3xl mx-auto">
                An online voting system that will replace the old ballot system or paper system. Over the time we have
                utilized the required technology in every sector to improve efficiency and save the extra resources. But
                the voting system is still very expensive and requires a bigger workforce. The system is slower and
                still not completely tamper-proof. We bring the system that is safe, reliable, and solves modern issues
                like higher reachability of the booth, crowd-free voting, inexpensive, faster results, and others.
            </p>
        </div>
    </div>
</div>
{% endblock %}