{% extends 'base.html' %}
{% block title %}competitions{% endblock %}
{% block body %}


<div class="container bg-gray-900 mx-auto py-8 px-6 space-x-4 ">
    <!-- Trending Competitions Section -->
    <h2 class="text-xl font-semibold text-blue-400 mb-4">Trending Competitions:</h2>
    <table class="min-w-full text-white bg-gray-800">
        <thead>
            <tr class="bg-gray-700">
                <th class="py-2 px-4 text-left">Competition Name</th>
                <th class="py-2 px-4 text-left">Vote Count</th>
                <th class="py-2 px-4 text-left">Closing Date</th>
            </tr>
        </thead>
        <tbody>
            {% for competition in trending_competitions %}
            <tr class="bg-gray-600 hover:bg-gray-500 cursor-pointer"
                onclick="window.location.href='{% url 'competition_detail' competition.id %}'">
                <td class="py-2 px-4">{{ competition.name }}</td>
                <td class="py-2 px-4">{{ competition.vote_count }}</td>
                <td class="py-2 px-4">{{ competition.closing_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Other Competitions Section -->
    <h2 class="text-xl font-semibold text-blue-400 mt-8 mb-4">Other Competitions:</h2>
    <table class="min-w-full text-white bg-gray-800">
        <thead>
            <tr class="bg-gray-700">
                <th class="py-2 px-4 text-left">Competition Name</th>
                <th class="py-2 px-4 text-left">Vote Count</th>
                <th class="py-2 px-4 text-left">Closing Date</th>
            </tr>
        </thead>
        <tbody>
            {% for competition in other_competitions %}
            <tr class="bg-gray-600 hover:bg-gray-500 cursor-pointer"
                onclick="window.location.href='{% url 'competition_detail' competition.id %}'">
                <td class="py-2 px-4">{{ competition.name }}</td>
                <td class="py-2 px-4">{{ competition.vote_count }}</td>
                <td class="py-2 px-4">{{ competition.closing_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}