{% extends 'base.html' %}
{% block title %}Login Form{% endblock %}
{% block body %}
<div class="bg-gray-900 flex flex-row items-center justify-center min-h-screen md:min-h-[80vh] p-4">
    <div class="w-full max-w-5xl flex flex-col-reverse md:flex-row items-center justify-between">
        <div class="w-full md:w-1/2 flex items-center justify-center mb-8 md:mb-0">
            {% load static %}
            <img src="{% static 'images/login.webp' %}" alt="Login illustration" class="w-full max-w-md h-auto">
        </div>
        <div class="bg-gray-900 p-8 rounded-lg shadow-lg max-w-md w-full">
            <div class="flex mb-6">
                <div class="w-full">
                    <h2 class="text-3xl font-bold text-white">Login form</h2>
                </div>
            </div>
            <form id="loginForm" method="post" class="space-y-2 text-white">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button type="submit"
                        class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Include Loader HTML -->
<div id="loader" class="hidden fixed inset-0 bg-black/70 z-50 items-center justify-center ">
    {% include 'loader.html' %}
</div>

<script>
    document.getElementById('loginForm').addEventListener('submit', function (e) {
        e.preventDefault();

        // Show the loader
        document.getElementById('loader').classList.remove('hidden');
        document.getElementById('loader').classList.add('flex');
        document.getElementById('loader').classList.add('cursor-wait');

        const formData = new FormData(this);
        fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        }).then(response => {
            if (!response.ok) {
                return response.json();
            } else {
                return null;
            }
        }).then(data => {
            if (data) {
                alert("Login failed! " + (data.errors ? JSON.stringify(data.errors) : data.message));
            }
            document.getElementById('loginForm').reset();
        }).catch(error => console.error('Error:', error))
            .finally(() => {
                document.getElementById('loader').classList.add('hidden');
                document.getElementById('loader').classList.remove('flex');
                document.getElementById('loader').classList.remove('cursor-wait');
            });
    });
</script>

{% endblock %}