{% extends 'base.html' %}
{% block title %}Registration Form{% endblock %}
{% block body %}
<div
    class="bg-gray-900 flex flex-col-reverse overflow-y-hidden h-[83vh] md:flex-row items-center md:items-center md:justify-around ">
    <div class="w-1/3 flex items-center justify-center">
        <div class="bg-gray-900 p-1 mr-4 w-auto h-1/2 flex items-center justify-center">
            {% load static %}
            <img src="{% static 'images/registrations.webp' %}" alt="User avatar"
                class="w-full h-full object-cover rounded-full">
        </div>
    </div>
    <div class="bg-gray-900 p-8 rounded-lg shadow-lg max-w-md w-full">
        <div class="flex mb-6">
            <div class="w-full">
                <h2 class="text-3xl md:text-4xl font-bold text-white">Registration form</h2>
            </div>
        </div>
        <form id="registrationForm" method="post" class="space-y-2 text-white">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="submit"
                    class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
                    Register
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Include Loader HTML -->
<div id="loader" class="hidden fixed inset-0 bg-black/70 z-50 items-center justify-center ">
    {% include 'loader.html' %}
</div>


<script>
    document.getElementById('registrationForm').addEventListener('submit', function (e) {
        e.preventDefault();

        // Show the loader
        document.getElementById('loader').classList.remove('hidden');
        document.getElementById('loader').classList.add('flex');
        document.getElementById('loader').classList.add('cursor-wait');



        const password = document.querySelector('input[name="password"]').value;
        const confirmPassword = document.querySelector('input[name="confirm_password"]').value;
        if (password !== confirmPassword) {
            alert("Passwords do not match!");
            document.getElementById('loader').classList.add('hidden'); // Hide the loader
            return;
        }

        const formData = new FormData(this);
        fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        }).then(response => {
            if (!response.ok) {
                return response.json();
            } else {
                return null;
            }
        }).then(data => {
            if (data) {
                alert("Login failed! " + (data.errors ? JSON.stringify(data.errors) : data.message));
            }
            document.getElementById('registrationForm').reset();
        }).catch(error => console.error('Error:', error))
            .finally(() => {
                document.getElementById('loader').classList.add('hidden');
                document.getElementById('loader').classList.remove('flex');
                document.getElementById('loader').classList.remove('cursor-wait');
            });

    });
</script>
{% endblock %}